arrow==0.14.6
aspy.yaml==1.3.0
attrs==19.1.0
binaryornot==0.4.4
bump2version==0.5.11
certifi==2019.6.16
cfgv==2.0.1
chardet==3.0.4
Click==7.0
cookiecutter==1.6.0
dparse==0.4.1
dulwich==0.19.13
future==0.17.1
identify==1.4.7
idna==2.8
importlib-metadata==0.19
invoke==1.3.0
Jinja2==2.10.1
jinja2-time==0.2.0
MarkupSafe==1.1.1
more-itertools==7.2.0
nodeenv==1.3.3
packaging==19.1
pbr==5.4.2
poyo==0.5.0
pre-commit==1.18.3
pyparsing==2.4.2
python-dateutil==2.8.0
PyYAML==5.1.2
reno==2.11.3
requests==2.22.0
safety==1.8.5
six==1.12.0
toml==0.10.0
urllib3==1.25.3
virtualenv==16.7.4
whichcraft==0.6.0
zipp==0.6.0
