Click==7.0
Jinja2==2.10.1
MarkupSafe==1.1.1
PyYAML==5.1
arrow==0.13.2
binaryornot==0.4.4
bump2version==0.5.10
certifi==2019.3.9
chardet==3.0.4
cookiecutter==1.6.0
dparse==0.4.1
future==0.17.1
git+https://github.com/dulwich/dulwich.git@master#egg=dulwich
idna==2.8
invoke==1.2.0
jinja2-time==0.2.0
packaging==19.0
pbr==5.2.0
poyo==0.4.2
pyparsing==2.4.0
python-dateutil==2.8.0
reno==2.11.2
requests==2.22.0
safety==1.8.5
six==1.12.0
urllib3==1.25.2
whichcraft==0.5.2
